[alias]
	co = checkout
	st = status
	cm = commit
	cl = clone
	b = branch
	lo = log --oneline
	lg = log --oneline --graph --decorate
	yeehaw = push --force
	cane = commit --amend --no-edit
	pr = pull --rebase
	gaa = add .
	cmm = commit -m
	cob = checkout -b
	df = diff --color
	dfc = diff --cached --color
[user]
	email = marcsdeveloperemail@gmail.com
	name = Marc Donald
[color]
	ui = true
	status = auto
	branch = auto
[core]
	autocrlf = input
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[color "status"]
	changed = blue bold
	untracked = cyan bold
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
[help]
	autoCorrect = 1
