" PLUGINS ---------------------------------------------------------------- {{{
" vim-plug loading
if empty(glob('~/.vim/autoload/plug.vim'))
  silent !curl -fLo ~/.vim/autoload/plug.vim --create-dirs
    \ https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
  autocmd VimEnter * PlugInstall --sync | source $MYVIMRC
endif

call plug#begin('~/.vim/plugged')

" Plugins
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'vim-scripts/argtextobj.vim'
Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-commentary'

call plug#end()
" }}}

" VIMSCRIPT -------------------------------------------------------------- {{{
set wildmenu
set wildmode=list:longest
set wildignore=*.docx,*.jpg,*.png,*.gif,*.pdf,*.pyc,*.exe,*.flv,*.img,*.xlsx
set showcmd
set lazyredraw
set showmatch
set ignorecase
set incsearch
set nohlsearch
set title
set exrc
set relativenumber
set nu
set scrolloff=6
set linebreak
set noerrorbells
set belloff=all
set hidden
set autoread
set nowrap
set noswapfile
set nobackup
set signcolumn=yes
set colorcolumn=80
set completeopt=menuone,noselect,noinsert
set lcs=tab:▸\ ,trail:·
set updatetime=50
set backspace=eol,start,indent

" Highlight matching braces
set showmatch

" IntelliJ
set ideajoin
set ideaput
set ideamarks
" }}}

" MAPPINGS -------------------------------------------------------------- {{{
" All I ever do with u and U is accidentally turn everything lowercase, so unmapping them
xmap U <NOP>
xmap u <NOP>
xmap S <NOP>
xmap s <NOP>

noremap <Space> <Nop>
let mapleader = "\<Space>"

nnoremap <A-1> :NERDTree<CR>
let g:argtextobj_pairs="[:],(:),<:>"

" Easymotion
let g:EasyMotion_do_mapping = 0 " Disable default mappings
nmap <Leader>fF <Plug>(easymotion-F)
nmap <Leader>ff <Plug>(easymotion-f)
nmap <Leader>fl <Plug>(easymotion-lineforward)
nmap <Leader>fj <Plug>(easymotion-j)
nmap <Leader>fk <Plug>(easymotion-k)
nmap <Leader>fh <Plug>(easymotion-linebackward)
nmap s <Plug>(easymotion-jumptoanywhere)
 
let g:EasyMotion_smartcase = 1
let g:EasyMotion_startofline = 0 " keep cursor column when JK motion

nmap <leader>md <A-x>
nmap <leader>mn <A-n>
nmap <leader>mp <A-p>

vmap <leader>s <Plug>VSurround

" Don't use Ex mode, use Q for formatting.
nmap Q gq

" Toggle search case sensitivity with F6
nmap <F6> :set ignorecase! ignorecase?<CR>
" Yank whole line with Y
nmap Y y$

nnoremap <silent> w [w
nnoremap <silent> b [b
nnoremap <silent> e ]w
nnoremap <silent> ge ]b

xnoremap <silent> w [w
xnoremap <silent> b [b
xnoremap <silent> e ]w
xnoremap <silent> ge ]b

" IntelliJ Stuff
nmap <leader>w :action SaveAll<cr>
nmap <leader>q :action CloseEditor<cr>

nmap <leader>gd :action GotoDeclaration<cr>
nmap <leader>gi :action GotoImplementation<cr>
nmap <leader>gb :action Annotate<cr>
nmap <leader>ghc :action CallHierarchy<cr>
nmap <leader>ghm :action MethodHierarchy<cr>
nmap <leader>ght :action TypeHierarchy<cr>

nmap <leader>rn :action RenameElement<cr>
nmap <leader>rr :action Rerun<cr>
nmap <leader>rft :action RerunFailedTests<cr>

nmap <leader>tp :action PinActiveTab<cr>
nmap <leader>ta :action EditorTabPopupMenu<cr>
nmap <leader>tr :action ReopenClosedTab<cr>
nmap <leader>tg :action EditorTabsGroup<cr>

map <C-t>v :action SplitVertically<cr>
map <C-t>h :action SplitHorizontally<cr>
map <leader>\ :action SplitVertically<cr>
map <leader>- :action SplitHorizontally<cr>

nmap <C-w>> :action StretchSplitToRight<cr>
nmap <C-w>< :action StretchSplitToLeft<cr>
nmap <C-w>- :action StretchSplitToBottom<cr>
nmap <C-w>+ :action StretchSplitToTop<cr>

nmap <C-h> <C-w>left
nmap <C-j> <C-w>down
nmap <C-k> <C-w>up
nmap <C-l> <C-w>right

nmap <leader>h :action PreviousTab<cr>
nmap <leader>l :action NextTab<cr>
nmap <leader>ne :action GotoNextError<cr>
nmap <leader>pe :action GotoPreviousError<cr>
nmap <leader>e :action ActivateProjectToolWindow<cr>
nmap <leader>a :action NewFile<cr>
nmap <leader>W :action NewDir<cr>
nmap <leader>ph :action Vcs.ShowHistoryForBlock<cr>
vmap <leader>ph :action Vcs.ShowHistoryForBlock<cr>

nmap <leader><leader> :action RecentFiles<cr>

" Paste from yank register only
nmap <leader>p "0p
nmap <leader>P "0P
" }}}
