" PLUGINS ---------------------------------------------------------------- {{{
" vim-plug loading
if empty(glob('~/.vim/autoload/plug.vim'))
  silent !curl -fLo ~/.vim/autoload/plug.vim --create-dirs
    \ https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
  autocmd VimEnter * PlugInstall --sync | source $MYVIMRC
endif

call plug#begin('~/.vim/plugged')

" Plugins
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'vim-scripts/argtextobj.vim'
Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-commentary'

call plug#end()
" }}}

" VIMSCRIPT -------------------------------------------------------------- {{{
set wildmenu
set wildmode=list:longest
set wildignore=*.docx,*.jpg,*.png,*.gif,*.pdf,*.pyc,*.exe,*.flv,*.img,*.xlsx
set showcmd
set lazyredraw
set showmatch
set ignorecase
set incsearch
set nohlsearch
set title
set exrc
set relativenumber
set nu
set scrolloff=6
set linebreak
set noerrorbells
set belloff=all
set hidden
set autoread
set nowrap
set noswapfile
set nobackup
set signcolumn=yes
set colorcolumn=80
set completeopt=menuone,noselect,noinsert
set lcs=tab:▸\ ,trail:·
set updatetime=50
set backspace=eol,start,indent

" Highlight matching braces
set showmatch

" IntelliJ
set ideajoin
set ideaput
set ideamarks
" }}}

" MAPPINGS -------------------------------------------------------------- {{{
" All I ever do with u and U is accidentally turn everything lowercase, so unmapping them
xmap U <NOP>
xmap u <NOP>

noremap <Space> <Nop>
let mapleader = "\<Space>"

nnoremap <A-1> :NERDTree<CR>
nnoremap <C-t> :NERDTree<CR>
let g:argtextobj_pairs="[:],(:),<:>"

map <leader>f <Plug>(easymotion-s)
map <leader>F <Plug>(easymotion-f)

nmap <leader>md <A-x>
nmap <leader>mn <A-n>
nmap <leader>mp <A-p>

vmap <leader>s <Plug>VSurround
unmap S

" Don't use Ex mode, use Q for formatting.
nmap Q gq

" Toggle search case sensitivity with F6
nnoremap <F6> :set ignorecase! ignorecase?<CR>
" Yank whole line with Y
nmap Y y$

noremap <silent> w [w
noremap <silent> b [b
noremap <silent> e ]w
noremap <silent> ge ]b

" IntelliJ Stuff
nnoremap <leader>w :action SaveAll<cr>
nnoremap <leader>q :action CloseEditor<cr>

nnoremap <leader>gd :action GotoDeclaration<cr>
nnoremap <leader>gi :action GotoImplementation<cr>
nnoremap <leader>gb :action Annotate<cr>
nnoremap <leader>ghc :action CallHierarchy<cr>
nnoremap <leader>ghm :action MethodHierarchy<cr>
nnoremap <leader>ght :action TypeHierarchy<cr>

nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>rr :action Rerun<cr>
nnoremap <leader>rft :action RerunFailedTests<cr>

nnoremap <leader>tp :action PinActiveTab<cr>
nnoremap <leader>ta :action EditorTabPopupMenu<cr>
nnoremap <leader>tr :action ReopenClosedTab<cr>
nnoremap <leader>tg :action EditorTabsGroup<cr>

nnoremap <leader>tv :action SplitVertically<cr>
nnoremap <leader>th :action SplitHorizontally<cr>

nnoremap <C-w>> :action StretchSplitToRight<cr>
nnoremap <C-w>< :action StretchSplitToLeft<cr>
nnoremap <C-w>- :action StretchSplitToBottom<cr>
nnoremap <C-w>+ :action StretchSplitToTop<cr>

noremap <leader>h :action PreviousTab<cr>
noremap <leader>l :action NextTab<cr>
noremap <leader>aj :action GotoNextError<cr>
noremap <leader>ak :action GotoPreviousError<cr>

noremap <leader><leader> :action RecentFiles<cr>

" Paste from yank register only
nmap <leader>p "0p
nmap <leader>P "0P
" }}}
